<footer class="main-footer">
    <div class="footer-container">


        <div class="footer-social">
            <p>Siguenos en nuestras redes</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/share/1CgFC4B43P/" target="_blank" class="icon facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/michaelopenbar?igsh=MTJlamI4N2tmOGE0ZQ==" target="_blank"
                    class="icon instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.tiktok.com/@michael.openbara1?_r=1&_t=ZS-95aVKdkMvcP" target="_blank"
                    class="icon tiktok">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </div>
        </div>

        <div class="footer-copy">
            <p>&copy; 2026 Promotora de Eventos A1 - Todos los derechos reservados</p>
        </div>
    </div>
</footer>