<header class="main-header">
    <!-- El JS arreglará este enlace si es necesario -->
    <a href="index.html" class="logo">Promotora de Eventos A1</a>

    <button class="menu-toggle" id="menu-toggle">
        <span></span><span></span><span></span>
    </button>

    <nav class="nav-menu" id="nav-menu">
        <ul>
            <li><a href="index.html">INICIO</a></li>
            <li><a href="pages/cocteles.html">COCTELES</a></li>
            <li><a href="pages/contacto.html">CONTACTO</a></li>
        </ul>
    </nav>
</header>