<header class="main-header">
    <a href="../index.html" class="logo">BARTENDER</a>
    
    <button class="menu-toggle" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </button>

<nav class="nav-menu" id="nav-menu">
    <ul>
        <li><a href="/OPEN-BAR-A1/index.html">INICIO</a></li>
        <li><a href="/OPEN-BAR-A1/pages/cocteles.html">COCTELES</a></li>
        <li><a href="/OPEN-BAR-A1/pages/contacto.html">CONTACTO</a></li>
    </ul>
</nav>
</header>